
$box-base-color:blue;
$box-base-color-2:rgb(194, 178, 29);
$box-base-color-3:red;

$box-padding:15px;
$box-border-radius:10px;
$box-font-size:16px;

$text-color:white;
$font-base-size:1.3em;
$link-font-size:1.5em;
